/* WhatsApp Floating Button */
.whatsapp-float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:20px;
  right:20px;
  background:#25D366;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  box-shadow:0 5px 15px rgba(0,0,0,0.3);
  z-index:9999;
  transition:0.3s;
  text-decoration:none;
}

.whatsapp-float:hover{
  transform:scale(1.1);
}

@media(max-width:768px){
  .whatsapp-float{
    width:55px;
    height:55px;
    bottom:15px;
    right:15px;
  }
}
